[Unit]
Description=Check the Holy Lois server every 2 minutes

[Timer]
OnBootSec=4min
OnUnitActiveSec=2min
AccuracySec=10s

[Install]
WantedBy=timers.target
