[Unit]
Description=Holy Lois off-site backup every 3 hours

[Timer]
OnCalendar=*-*-* 00/3:20
Persistent=true
RandomizedDelaySec=10min

[Install]
WantedBy=timers.target
